#Submission files and PDFs
*.zip
*.pdf
glitch_server/

das-node-ssh.sh
das-ssh.sh
ff-it.sh
sftp.json

.idea
.DS_STORE

# Playground specific
libraries/

CMakeFiles
CMakeCache.txt
cmake_install.cmake

obj/
libs/
venv/
__pycache__/

# Clion
cmake-build-*

# C specific files
*.o
*.d
*.a
*.out
*.cbp
week4/js-hammer-time/das-node-ssh.sh
week4/js-hammer-time/das-ssh.sh
week4/js-hammer-time/ff-it.sh
